<div *ngIf="facet" class="accordion-item">
    <div class="accordion-title ">
      <a class="h6 mb-0"><strong>{{ facet.field | uppercase }}</strong></a>
    </div>
    <div class="collapse show rounded-none"  >
      <div class="accordion-content ">
        <ul>
          <li *ngFor="let facetItem of facet.data">
            <input
            class=""
            type="checkbox"
            [value]="getValue(facetItem, facet.type)"
            [checked]="isChecked(getValue(facetItem, facet.type))"
            (change)="change.emit($event)"
          />
            {{ getValue(facetItem, facet.type)}}<span style="float: right">({{facetItem.count}})</span>
          </li>
        </ul>
      </div>
    </div>
  </div>