<app-main-container>
  <div *ngIf="(notice$ | async) as notice" class="flex justify-between grid xl:grid-cols-[3fr_2fr] grid-cols-1 lg:gap-20"  >
    <div class="py-6 flex flex-col gap-12 relative ">
      <div>
        <h1 class="lg:text-8xl text-4xl w-full font-thin break-all">{{notice.title}}</h1> 
        <p class="py-12 break-words text-[lightgrey]">{{notice.description}}</p>
        <button routerLink="edit" class="absolute top-0 right-0 btn btn-ghost btn-circle text-2xl" *ngIf="(creator$ | async)?.id == (currentUserId$ | async)">
          <fa-icon [icon]="['fas', 'pen']"></fa-icon>
        </button>
      </div>
      <div class="flex flex-col justify-between mb-8">
        <ul class="font-start grid grid-cols-2  gap-14 text-3xl">
          <li ><fa-icon class="text-[grey]" [icon]="['fas','chess-rook']" /> {{notice.city}}</li>
          <li class="text-end">{{notice.deliveryMethods}} <fa-icon class="text-[lightgrey]" [icon]="['fas','crow']"/></li>
          <li class=""><fa-icon class="text-[sienna]" [icon]="['fas','sack-dollar']"/> {{notice.payments}}</li>
          <li class=" text-end text-4xl">{{ getTotalPrice(notice) }} SEK <fa-icon class="text-[gold]" [icon]="['fas','coins']"></fa-icon></li>
        </ul>
      </div>
      <app-product-detail [product]="selectedProduct ? selectedProduct : notice.products[0]"></app-product-detail>
    </div>
    <div class="flex flex-col-reverse lg:flex-col w-full">
      <ng-container *ngIf="(creator$ | async) as user;">
        <app-user-card [user]="user"></app-user-card>
      </ng-container>
      <div class="flex flex-col gap-6">
        <ng-container *ngFor="let product of notice.products">
          <a (click)="selectedProduct = product" [class]="product == selectedProduct ? 'opacity-90 hover:opacity-100' : 'opacity-60 hover:opacity-100'" >
            <app-product-card [product]="product"></app-product-card>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</app-main-container>