<app-popup-card *ngIf="!(isAuthenticated$ | async)">
    <button (click)="this.authService.loginWithPopup()" class="hover:text-lighttexthover flex items-center gap-2">
        Login to create new notice
        <fa-icon [icon]="['fas', 'arrow-right-to-bracket']" class="text-2xl"></fa-icon>
    </button>
</app-popup-card>
<fieldset [disabled]="!(isAuthenticated$ | async)">
    <app-main-container >
        <form action="" [formGroup]="noticeForm" (ngSubmit)="onSubmit()">
                <section class="bg-base-200 relative rounded-lg p-6 pt-20 flex flex-col justify-between gap-12">
                <mat-form-field>
                    <mat-label>Your title here ✒️</mat-label>
                    <input matInput [placeholder]="'Selling rare artifact for coin'" formControlName="title" required>
                    <mat-error *ngIf="titleFormControl">{{getErrorMessage(titleFormControl)}}</mat-error>
                </mat-form-field>
                <mat-form-field class="">
                    <mat-label>Your description here ✒️</mat-label>
                    <textarea rows="10" matInput [placeholder]="'Rare magical artifact, only slight visual damage, works like a charm! No receipt.'" formControlName="description" required></textarea>
                    <mat-error *ngIf="descriptionFormControl">{{getErrorMessage(descriptionFormControl)}}</mat-error>
                </mat-form-field>
                <!-- <h3 class="border-bottom border-[grey] text-2xl">Products</h3>
                <div formArrayName="images" class="flex gap-4 flex-wrap">
                    <div *ngFor="let image of productsFormArray.controls; index as i; first as isFirst" class="" appearance="outline">
                        <div [formGroupName]="i" >
                            <div *ngIf="isRemovable()" class="close" (click)="removeProduct(i)">X</div>
                                <app-product-form  formControlName="product"></app-product-form>
                        </div>
                    </div>
                    <button mat-fab color="accent" (click)="addProduct()" class="btn btn-ghost">+</button>
                </div> -->
                <app-product-form (productEvent)="addProductToArray($event)"></app-product-form>
                <mat-form-field class="">
                    <mat-label>Your city here ✒️</mat-label>
                    <input matInput [placeholder]="'Baldurs Gate'" formControlName="city" required>
                    <mat-error *ngIf="cityFormControl">{{getErrorMessage(cityFormControl)}}</mat-error>
                </mat-form-field>
                <mat-form-field class="">
                    <mat-label class="">Payment options</mat-label>
                    <mat-select formControlName="payments" multiple class="">
                        <mat-option *ngFor="let option of payments" [value]="option" class="">{{option}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="paymentsFormControl">{{getErrorMessage(paymentsFormControl)}}</mat-error>
                </mat-form-field>
                <mat-form-field class="">
                    <mat-label class="">Delivery methods</mat-label>
                    <mat-select formControlName="deliveryMethods" multiple class="">
                        <mat-option *ngFor="let option of deliveryMethods" [value]="option" class="">{{option}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="deliveryMethodsFormControl">{{getErrorMessage(deliveryMethodsFormControl)}}</mat-error>
                </mat-form-field>
                <div class="flex flex-col gap-4 w-full">
                    <button type="submit" [disabled]="disableSubmitButton || !noticeForm.valid" class="hover:opacity-80 rounded bg-darkblue white-box-border disabled:opacity-40 w-full py-1">
                        Submit
                    </button>
                </div>
            </section>
        </form>
    </app-main-container>
</fieldset>