<div class="rounded-box flex flex-col justify-evenly lg:card-side bg-base-100 shadow-xl bg-base-200 min-h-[66%] p-6">
<figure>    
    <img class="rounded-full w-[75px] m-auto" [src]="( this.user | async )?.avatar" alt="profile picture" />
</figure>
    <div class="card-body">
        <h2 class="card-title">{{( this.user | async )?.username}}</h2>
        <p>reputation 100+!</p>
        <div class="card-actions justify-end">
            <button [routerLink]="['/profile/', ( this.user | async )?.id?.toString()]" class="btn btn-primary">See profile</button>
            <button class="btn btn-primary">Send Email</button>
        </div>
    </div>
</div>