<div class="flex max-sm:flex-col justify-between py-6 gap-6">
    <media class="grow bg-black rounded aspect-square">
        <app-fullscreen-image-carousel (toggleFullscreen)="toggleFullscreen = $event" *ngIf="toggleFullscreen" [images]="this.product.images"></app-fullscreen-image-carousel>
        <app-image-carousel (toggleFullscreen)="toggleFullscreen = $event" *ngIf="!toggleFullscreen" [images]="this.product.images"></app-image-carousel>
    </media>
    <div class="py-6 text-end flex flex-col gap-8 max-sm:w-[90vw]">
        <h3 class="text-3xl">{{this.product.name}}</h3>
        <p>{{this.product.price}}SEK</p>
        <p>receipt: {{this.product.hasReceipt ? "yes" : "no"}}</p>
        <p>warranty: {{this.product.warranty}}</p>
        <p>category: {{this.product.categoryName}}</p>
        <p>condition: {{this.condition}}</p>
    </div>
</div>
