<div class="absolute w-full h-screen z-50 top-0 left-0">
  <nav class="flex p-6 fixed top-0 w-screen z-50 bg-base-200">
    <button class="btn btn-square" (click)="toggleFullscreen.emit(false)">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
  </button>
  </nav>
  <div class="h-full flex items-center justify-center fixed top-0 w-full bg-base-100">
      <div>
        <div (click)="goToPrevious()" class="leftArrow">
          <span class="inline-flex items-center justify-center w-10 h-10 w-24 h-24 rounded-full bg-white/40 hover:bg-white/70">
            <svg class="w-8 h-8 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>  
        </div>
        <div (click)="goToNext()" class="rightArrow">
          <span class="inline-flex items-center justify-center  w-10 h-10 w-24 h-24 rounded-full bg-white/40 hover:bg-white/70">
            <svg class="w-8 h-8 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
        </div>
      </div>
      <img
        class="w-auto h-auto bg-cover bg-center my-0 mx-auto max-w-[66vw] min-w-[30vw] max-h-[45vw]"
        [src]="images[currentIndex].url"
      />
      <div class="flex justify-center  absolute bottom-4 text-center w-full ">
        <div
          *ngFor="let image of images;index as i"
          class="my-0 mx-[3px] cursor-pointer font-[20px]"
          (click)="goToSlide(i)"
        >
          <span [class]="i ==  currentIndex ? 'text-5xl' : ' text-5xl opacity-50'" >●</span>
        </div>
      </div>
    </div>
</div>
