*,
*::after,
*::before {
  box-sizing: border-box;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  /* width: max-content; */
  z-index: 50;
  cursor: pointer;
}

.hamburger-menu:has(input:not(:checked))::after {
  width: 1rem !important;
  margin-right: 8px;
}


.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #ffffff;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing), margin var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  margin-left: 8px;
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  margin-left: 8px;
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  padding: .5rem;
  top: 4.5rem;
  background-image: url(https://media.discordapp.net/attachments/1086348202283909260/1176171551767416872/image.png?ex=656de61e&is=655b711e&hm=9b84a57c56cdd0416dca7ad38540618bcbacd87a57ab7e59c07e6416853a5ee2&=&width=1919&height=176);
  transition: translate var(--animation-timing);
  translate: 0 -150%;
  color: var(--background);
  height: 5rem;
  width: 75vw;
  z-index: -1;
  font-family: 'MedievalSharp';
}

.sidebar::after{
  content: "";
  position: absolute;
  top: -30px;
  right: 1rem;
  background-image: url(https://media.discordapp.net/attachments/1086348202283909260/1176171453767500006/chain.png?ex=656de606&is=655b7106&hm=48d7e256e1a52be943b5a62869728a9278373a74d0507529a2231b63677f1e24&=&width=904&height=904);
  height: 30px;
  width: 30px;
  z-index:50; 
}

.sidebar::before{
  content: "";
  position: absolute;
  top: -30px;
  left: 1rem;
  background-image: url(https://media.discordapp.net/attachments/1086348202283909260/1176171453767500006/chain.png?ex=656de606&is=655b7106&hm=48d7e256e1a52be943b5a62869728a9278373a74d0507529a2231b63677f1e24&=&width=904&height=904);
  height: 30px;
  width: 30px;
  z-index:50;
}

.sidebar * {
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}