*,
*::after,
*::before {
  box-sizing: border-box;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  /* width: max-content; */
  z-index: 50;
  cursor: pointer;
}

.hamburger-menu:has(input:not(:checked))::after {
  width: 1rem !important;
  margin-right: 8px;
}


.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #ffffff;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing), margin var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  margin-left: 8px;
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  margin-left: 8px;
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 1rem;
  left: -1rem;
  top: 3.6rem;
  border-radius: 10px;
  transition: scale var(--animation-timing);
  translate: 0 -50%; 
  scale: 100% 0;
  color: var(--background);
  width: 40rem;
  height: auto;
  z-index: -1;
}

.hamburger-menu:has(input:checked) + .sidebar {
  scale: 100% 100%;
  animation: 1s move linear;
  animation-fill-mode: both;
}

.sidebar::after{
  content: "";
  position: absolute;
  top: -58px;
  right: 1rem;
  background-image: url("/assets/chain.png");
  height: 70px;
  width: 16px;
  background-size: contain;
  /* background-color: red; */
}

.sidebar::before{
  content: "";
  position: absolute;
  top: -58px;
  left: 1rem;
  background-image: url("/assets/chain.png");
  height: 70px;
  width: 16px;
  background-size: contain;
  /* background-color: red; */
}

@keyframes move {
    0%   { top: 100%; }
    1%   { top: 100.86376425736435%; }
    2%   { top: 103.30887625352196%; }
    3%   { top: 107.11510629593647%; }
    4%   { top: 112.06407562318391%; }
    5%   { top: 117.94274565577675%; }
    6%   { top: 124.54642206432976%; }
    7%   { top: 131.68127828753256%; }
    8%   { top: 139.16640928859013%; }
    9%   { top: 146.83543411253555%; }
    10%  { top: 154.53767168481676%; }
    11%  { top: 162.13891722725492%; }
    12%  { top: 169.5218524015242%; }
    13%  { top: 176.586122452165%; }
    14%  { top: 183.24811775766403%; }
    15%  { top: 189.44049645431824%; }
    16%  { top: 195.11148520727033%; }
    17%  { top: 200.22399583479304%; }
    18%  { top: 204.7545926401348%; }
    19%  { top: 208.6923456959847%; }
    20%  { top: 212.03760160865943%; }
    21%  { top: 214.80070272750575%; }
    22%  { top: 217.0006815538447%; }
    23%  { top: 218.663955706991%; }
    24%  { top: 219.82304538616665%; }
    25%  { top: 220.51533264040694%; }
    26%  { top: 220.78187825980012%; }
    27%  { top: 220.66631056510982%; }
    28%  { top: 220.21379606281764%; }
    29%  { top: 219.47010051916436%; }
    30%  { top: 218.48074615498618%; }
    31%  { top: 217.29026816681414%; }
    32%  { top: 215.94157202720172%; }
    33%  { top: 214.47539120167033%; }
    34%  { top: 212.92984275093278%; }
    35%  { top: 211.34007772340152%; }
    36%  { top: 209.7380212102259%; }
    37%  { top: 208.15219633458372%; }
    38%  { top: 206.60762598024857%; }
    39%  { top: 205.12580475213764%; }
    40%  { top: 203.72473387120573%; }
    41%  { top: 202.41901137453345%; }
    42%  { top: 201.2199697208098%; }
    43%  { top: 200.13585305311918%; }
    44%  { top: 199.17202686633095%; }
    45%  { top: 198.33121263498484%; }
    46%  { top: 197.61374067964204%; }
    47%  { top: 197.01781499211256%; }
    48%  { top: 196.53978407975245%; }
    49%  { top: 196.17441264256894%; }
    50%  { top: 195.91514930968282%; }
    51%  { top: 195.75438645693993%; }
    52%  { top: 195.68370845882814%; }
    53%  { top: 195.69412560592633%; }
    54%  { top: 195.7762912646242%; }
    55%  { top: 195.92070055484277%; }
    56%  { top: 196.1178692094388%; }
    57%  { top: 196.35849187467915%; }
    58%  { top: 196.63357948554946%; }
    59%  { top: 196.93457574055066%; }
    60%  { top: 197.25345307939384%; }
    61%  { top: 197.582788848219%; }
    62%  { top: 197.91582261394115%; }
    63%  { top: 198.24649577847353%; }
    64%  { top: 198.56947483257156%; }
    65%  { top: 198.880159678671%; }
    66%  { top: 199.17467862706735%; }
    67%  { top: 199.44987158683784%; }
    68%  { top: 199.70326312039%; }
    69%  { top: 199.93302695538216%; }
    70%  { top: 200.13794350123476%; }
    71%  { top: 200.31735190782865%; }
    72%  { top: 200.47109806939648%; }
    73%  { top: 200.5994799360452%; }
    74%  { top: 200.70319134949088%; }
    75%  { top: 200.78326552237604%; }
    76%  { top: 200.84101916476513%; }
    77%  { top: 200.87799812568187%; }
    78%  { top: 200.89592530095737%; }
    79%  { top: 200.89665143457395%; }
    80%  { top: 200.88210931137806%; }
    81%  { top: 200.85427175192046%; }
    82%  { top: 200.81511366810776%; }
    83%  { top: 200.76657838029143%; }
    84%  { top: 200.7105482768328%; }
    85%  { top: 200.64881982187876%; }
    86%  { top: 200.58308284617112%; }
    87%  { top: 200.51490398641354%; }
    88%  { top: 200.44571408112546%; }
    89%  { top: 200.37679929488283%; }
    90%  { top: 200.3092956925791%; }
    91%  { top: 200.24418697437903%; }
    92%  { top: 200.1823050421591%; }
    93%  { top: 200.12433307616453%; }
    94%  { top: 200.07081078240043%; }
    95%  { top: 200.02214147494948%; }
    96%  { top: 199.97860066859386%; }
    97%  { top: 199.940345864654%; }
    98%  { top: 199.90742722728143%; }
    99%  { top: 199.8797988721998%; }
    100% { top: 199.8573305048547%; }
  }