<div class='container flex justify-between items-center mx-auto gap-4'>
    <button class='text-3xl px-1' (click)="setNavbarToggle()"><fa-icon [icon]="['fas', 'bars']" /></button>
    <a routerLink="/">
        <div class='flex gap-2 items-center flex-1'>
            <img src="assets/logo.png" alt="deal fortress logo" class="logo-s"/>
            <p class='text-xl medieval-font drop-shadow-md'>DealFortress</p>
        </div>
    </a>
    <div class="flex gap-4 items-center flex-1 justify-end">
        <ng-container *ngIf="isAuthenticated | async">
            <app-auth-logout-button></app-auth-logout-button>
            <a class='text-3xl' to="/profile"><img [src]="(user | async)?.picture" alt="avatar" class='avatar rounded-full w-10' /></a> 
        </ng-container>
        <ng-container *ngIf="!(isAuthenticated | async)">
            <app-auth-login-button></app-auth-login-button>
        </ng-container>
    </div>
</div>