<div class="w-full h-[30vh] bg-blue flex justify-center items-center ">
    <img src='assets/logo.png' alt="deal fortress logo" class="logo-l"/>
</div>
<app-main-container>
    <header>
        <div class="flex justify-between items-center w-full">
            <h2 class="text-2xl medieval-font">Latest posts</h2>
            <a routerLink="/notices/create" class="text-3xl"><fa-icon [icon]="faPlusCircle"/></a>
        </div>
        <p class="text-end">Create Notice</p>
    </header>
    <section class="flex flex-col gap-3" *ngFor="let notice of (notices$ | async)" >
        <app-notice-card [notice]="notice"></app-notice-card>
    </section>
</app-main-container>