<div class="rounded-box flex items-center justify-between p-4 lg:card-side min-w-[66%] min-h-[66%] bg-base-200 user-card cursor-pointer hover:text-white opacity-90 hover:opacity-100" >
    <div class="card-body p-0 justify-end">
        <a class="card-title text-2xl md:text-3xl font-thin" [routerLink]="['/user', user.id]">{{user.username}}</a>
        <div class="card-actions">
        </div>
        <div class="card-actions justify-start">
            <button *ngIf="user.id != (currentUser |async)?.id" (click)="toggleMessagePopup$.emit(true)" class="btn btn-primary"><fa-icon [icon]="['fas', 'dove']"></fa-icon> Message</button>
        </div>
    </div>    
    <a [routerLink]="['/user', user.id]" class="block">
        <span class="hovicon">
            <img class="rounded-full lg:w-[100px] w-[75px] m-auto " [src]="user.avatar" alt="profile picture" />
        </span>
    </a>
</div>