<div class="w-full fixed top-4 z-50 max-h-32">
  <div class="px-4 navbar w-[98%] mx-auto bg-darkblue rounded-box shadow-md ">
    <div class="navbar-start">
      <div class="dropdown">
        <label class="hamburger-menu btn btn-ghost btn-circle">
          <input type="checkbox"/>
        </label>
        <aside tabindex="0" class="sidebar w-32 md:w-96 z-[1] flex flex-col gap-2 bg-contain bg-darkblue rounded-box items-start">
            <h3 class="text-2xl border-b border-[darkgrey]">Market</h3>
            <ul class='flex gap-4'>
              <li><a class="hover:border-b border-grey" routerLink="/">All</a></li>
            </ul>
        </aside>
      </div>
    </div>
    <div class="navbar-center">
      <a routerLink="/" class="btn btn-ghost font-thin normal-case md:text-4xl"><span class="hidden md:flex">DealFortress </span><img src="assets/logo.png" alt="deal fortress logo" class="logo-s"/></a>
    </div>
    <div class="navbar-end">
      <div class="flex gap-4 items-center flex-1 justify-end text-1xl md:text-2xl">
        <ng-container *ngIf="(isAuthenticated | async) === true && (user | async) as user ; else skeleton">
            <app-conversations-notifications-dropdown [loggedInUser]="user"></app-conversations-notifications-dropdown>
            <div class="dropdown dropdown-end dropdown-hover">
              <a  tabindex="0" role="button" class="hover:shadow-xl" ><img [src]="user.avatar" alt="avatar" class='avatar rounded-full h-10 aspect-square hover:shadow-xl' /></a> 
              <ul  class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-auto ">
                <li><a routerLink="/conversations">messages</a></li>
                <li><app-auth-logout-button></app-auth-logout-button></li>
              </ul>
            </div>
        </ng-container>
        <ng-container *ngIf="(isAuthenticated | async) === undefined || (isAuthenticated | async) === false">
            <app-auth-login-button></app-auth-login-button>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<ng-template #skeleton>
  <div class="animate-pulse h-10 w-10">
    <div class='avatar bg-base-200 rounded-full h-10 aspect-square'></div>
  </div>
</ng-template>
