@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(30,30,30);
    font-family: 'Quicksand', sans-serif;
}

@layer components {
    .logo-s {
        width: 50px;
    }
    .logo-m{
        width: 100px;
    }
    .logo-l{
        width: 150px;
    }
}
