@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .logo-s {
        width: 50px;
    }
    .logo-m{
        width: 100px;
    }
    .logo-l{
        width: 150px;
    }
}

@layer base {
    body {
        font-family: 'Quicksand', sans-serif;
        @apply bg-bodyblue;
    }
}
