
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$blue-grey-palette, 50);
$frontend-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-dark-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
    // background-color: white,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --bar-width: 1.5rem;
  --bar-height: 2px;
  --hamburger-gap: 6px;
  --foreground: #c5c5c5;
  --background: rgb(193, 193, 193);
  --animation-timing: 100ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --spring-multiplier: 2;
}

[data-theme="dark"] .btn-primary {
  @apply bg-darkblue;
  @apply border-darkblue;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.stripes {
  background-image: repeating-linear-gradient(45deg,
  transparent,
  transparent 12px,
  black 13px,
  black 14px);
  background-size: 40px 40px;
}


.gray-gradient {
  mask-image: linear-gradient(to bottom, rgba(73, 73, 74, 0.52), rgba(32, 32, 32, 0.73))
}

.logo-s {
    width: 50px;
}
.logo-m{
    width: 100px;
}
.logo-l{
    width: 150px;
}
.logo-xl{
  width: 300px;
}

.min-h-screen {
  min-height: calc(100vh - 150px);
}

.h-screen {
  height: calc(100vh - 150px);
}l

.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: transparent !important;
}

.mat-mdc-checkbox label {
  font-size: 1rem;
  color: rgb(192, 192, 192);
}

.green-snackbar button {
  background-color:#7dac99;
  color: white !important;
  border: none;
}
 #fullscreen {
  height:calc(100vh - 100px);
  width:100%;
  position:  absolute;
  top: 0;
  z-index: 9999;
 }

.red-snackbar button {
  background-color:#9F192F;
  color: white !important;
  border: none;
}

.medieval-banner{
  background-image: linear-gradient(to bottom, rgba(73, 73, 74, 0.52), rgba(32, 32, 32, 0.73)),
  url("assets/banner.png");
}

.loader {
    color: white;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 2px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.hidden-scrollbar ::-webkit-scrollbar {
    width: 0px;
  }


::-webkit-scrollbar-thumb
{
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  @apply bg-darkblue;
}



  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em,
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }

  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }

html, body {margin:0; padding: 0; min-height: 100vh; }
body { padding-top: 100px; font-family: 'Quicksand', "Helvetica Neue", sans-serif;   box-sizing: border-box;}
