<div class="flex p-6 gap-8 absolute end-10 top-[-100px] z-[0]">
    <div class="flex flex-col gap-4">
        <div *ngFor="let imageUrl of productImageUrls; index as i" >
            <div class="carousel-item" *ngIf="i % 2 == 0">
                <img [src]="imageUrl" class="rounded gray-gradient w-80 h-96 object-cover opacity-50"/>
            </div> 
        </div>
    </div>
    <div class="flex flex-col gap-4 pt-32">
        <div *ngFor="let imageUrl of productImageUrls; index as i">
            <div class="carousel-item" *ngIf="i % 2 != 0">
                <img [src]="imageUrl" class="rounded gray-gradient w-80 h-96 object-cover opacity-50"/>
            </div> 
        </div>
    </div>
</div>