<div class="relative h-48 transition-all hover:cursor-pointer md:flex md:py-6 md:gap-6 md:items-stretch md:w-full md:h-60">
    <div *ngIf="((notice$ | async)?.userId == (user$ | async)?.id)" class="absolute top-0 right-2 z-20 flex flex-col justify-between w-full h-full md:w-auto md:h-auto md:flex-row items-end md-items-center gap-2 p-2">
        <span >
            <button class="btn md:text-xl" 
                    (click)="toggleSoldPopup = true" 
                    *ngIf="this.product.soldStatus == SoldStatus.Reserved">
                SET TO SOLD
            </button>
        </span>
        <label
            class="swap"
            *ngIf="this.product.soldStatus != SoldStatus.Sold">
            <input
                #soldstatus 
                type="checkbox" 
                (click)="toggleSoldStatus(soldstatus.checked ? SoldStatus.Available : SoldStatus.Reserved )"
                [checked]="this.product.soldStatus == SoldStatus.Available" />
            <div  class="swap-on btn md:text-xl">SET TO RESERVED</div>
            <div class="swap-off btn md:text-xl">SET BACK TO AVAILABLE</div>
        </label>
    </div>
    <div    
        class='absolute h-6 rounded flex justify-center items-center z-20 p-4 font-bold' 
        [ngClass]="availability().color" >
            {{ availability().text}}
    </div>
    <div 
        *ngIf="this.product.soldStatus == SoldStatus.Sold" 
        class="absolute w-full h-full rounded text-8xl flex justify-center items-center z-10 top-0 left-0 stripes border border-black">
        SOLD
    </div>
    <span class="bg-gradient-to-b from-black to-[#454545] opacity-60 md:opacity-0 h-full w-full absolute rounded-xl"></span>
    <img [src]="this.product.images[0].url" 
        alt="product image" 
        class="z-[-1] w-full h-full object-cover rounded-xl
                md:z-[0] md:rounded-full md:aspect-square md:max-h-full md:max-w-full md:w-auto"
    />
    <div class="flex absolute top-0 p-6 flex-col justify-evenly h-full
                md:relative md:p-4 md:gap-3 md:border-b md:border-[grey] md:w-full md:justify-center">
        <h3 class="text-2xl">{{this.product.name.slice(0, 30)}}</h3>
        <p>condition: {{this.condition}}</p>
        <p>receipt: {{this.product.hasReceipt ? "yes" : "no"}}</p>
        <p>warranty: {{this.product.warranty}}</p>
    </div>
</div>

<app-popup-card *ngIf="toggleSoldPopup" title="Congratulations on the sale!" body="This action cannot be reversed">
    <button (click)="toggleSoldStatus(SoldStatus.Sold)" class="btn btn-primary">
        SOLD!
    </button>
    <button (click)="toggleSoldPopup = false" class="btn btn-ghost">
        CANCEL
    </button>
</app-popup-card>