<div class="flex py-6 gap-6 items-stretch max-sm:flex-col">
    <img [src]="this.product.images[0].url" 
        alt="product image" 
        class="rounded-full object-cover aspect-square"
    />
    <div class="p-4 flex flex-col gap-3 border-b border-[grey] w-full justify-center">
        <p>{{this.product.name}} Graphics Card</p>
        <p>condition: {{this.condition}}</p>
        <p>receipt: {{this.product.hasReceipt ? "yes" : "no"}}</p>
        <p>warranty: {{this.product.warranty}}</p>
    </div>
</div>